body {
  overflow: hidden;
}

.page {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bold {
  font-weight: 900;
}

p {
  margin: 0;
}
